{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p><strong>OrtakLab Nedir?</strong>
OrtakLab, Milli Egitim Bakanligina bagli okullarin laboratuvar ve atolyeleri, FabLab (uretim laboratuvarlari) ve benzeri olusumlar ile uygulamali egitim muzelerini ilgili kisi ve kurumlarin kullanimina sunmak ve ilgililerin erisimini kolaylastirmak amaciyla olusturulmus bir web sitesidir.
</p>
    <hr>
<p><strong>Neden OrtakLab?</strong>
Hali hazirda bosta duran kaynaklarin verimli bir sekilde kullanilmasi ve uygulamali egitime erisimi cok da kolay olmayan kisilerin laboratuvar ve atolye tecrubesi kazanmasi icin olusturulmus olan bu sistem hem kullanicilarin hem de kurumlarin yararina calismaktadir. Merakli ve ilgili ogrencilerin projeler yurutebilmesine, hobi sahiplerinin veya bir fikir/prototip gelistirmek isteyenlerin atolye imkanlarini kullanarak kucuk capli uretim yapabilmesine olanak saglamanin yani sira laboratuvar ve atolyelerin isler halde tutulmasina ve guncel ekipmanlarla donatilmasina yardimci olabilecek bir sistemdir.
</p>
    <hr>
<p><strong>Kurumlar icin:</strong>
<u>Milli Egitim bakanligina bagli okullar,</u> okul aile birligi karari ile laboratuvarlarin ve atolyelerin halk yararina kullanima acilmasina ve okul icin gelir elde edilmesine yonelik mevzuat maddeleri cercevesinde karar alarak okullarin nadiren kullanilan laboratuvar ve atolyelerini OrtakLab sistemine dahil edebilirler. Bu sekilde hem bu kaynaklarin verimli kullanilmasina hem de elde edilen gelir ile okullarin sundugu imkanlarin iyilestirilmesine katkida bulunabilirler.
<u>Ozel Laboratuvarlar ve Atolyeler,</u> disaridan sadece is almak yerine aktif kullanim saatleri disinda da OrtakLab araciligiyla kullanima acilarak hem imkanlarini paylasabilir hem de ek gelir elde edebilirler.
<u>Muze ve Egitim Programlari,</u> OrtakLab sayesinde daha genis kitlelere ulasabilir, toplumun egitim seviyesini yukseltmenin yani sira son zamanlarda genellikle bos olan muzelere de ragbeti arttirabilirler.
</p>
    <hr>
<p><strong>Kullanicilar icin:</strong>
<u>Bireysel Kullanicilar,</u> tecrube etmek istedikleri deney modullerini veya ihtiyaclari olan atolye imkanlarini secerek bunlara ulasabilecekleri en yakin merkezleri bulabilir, makul bir ucret karsiliginda arastirma veya uretim projelerini gerceklestirebilirler.
<u>Gruplar,</u> kurumlar tarafindan duzenlenecek grup egitimi modullerine katilabilir ya da kurumlarin sundugu imkanlardan faydalanarak kendi egitimlerini daha etkili sekilde gerceklestirebilirler.
</p>


{% endblock %}
