{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    
    <p><a href="http://127.0.0.1:8000/about"</a></p>
</div>

<div style="margin: 150px 0px 0px 350px" class="row" >
    <div class="col-md-4">
        <h3 style="margin-left: 50px">Kurum</h3>
        <img src="/static/app/content/inst.png"/>
        <p><a style="margin-left: 50px" class="btn btn-default" href="http://127.0.0.1:8000/about">Detaylar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3 style="margin-left: 50px"><a href="#">Kullanicilar</a></h3>    
        <img style="align-self:baseline" src="/static/app/content/client.png"/>
        <p><a style="margin-left: 40px" class="btn btn-default" href="http://127.0.0.1:8000/about">Detaylar &raquo;</a></p>
    </div>
</div>

{% endblock %}
    