{% extends "app/layout.html" %}
    {% block content %}

    <h2>{{ title }}</h2>
    <h3>{{ message }}</h3>
    <details><summary>Deney : Ahsap Isleme</summary>
    <ul>
        <li>Laboratuvar : Gaziemir Teknik Meslek Lisesi - Ahsap Isleme</li>
        <li>Baslangic Zamani : 12 Mart 2018, 13:30</li>
        <li>Asistan : Yok</li>
    </ul>
    </details>
    <details><summary>Deney : Turuncgillerden Limonenne Ekstraksiyonu</summary>
    <ul>
        <li>Laboratuvar : TeknoKimyasal Analiz Laboratuvarı - Limonnenne Ekstraksiyonu</li>
        <li>Baslangic Zamani : 11 Mayıs 2018, 13:30</li>
        <li>Asistan : Var</li>
    </ul>
    </details>
    
    

{% endblock %}